<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Register</title>
  <!-- Custom fonts for this template-->
  <link href="/assets/back/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/assets/back/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                
                
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Username" name="username" #username="ngModel" [(ngModel)]="form.username" required minlength="5" maxlength="50"/>
                </div>
                <div *ngIf=" username.invalid && (username.dirty || username.touched ) && username.errors?.['required']" class="text-danger">
                  Please enter a valid user name.
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" placeholder="Email Address" #email="ngModel" name="email" [(ngModel)]="form.email" required />
                </div>
                <div *ngIf=" email.invalid && (email.dirty || email.touched ) && email.errors?.['required']" class="text-danger">
                  Please enter a valid email.
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" #password="ngModel" name="password" [(ngModel)]="form.password" required  minlength="6" maxlength="20"/>
                  </div>
                  <div *ngIf=" password.invalid && (password.dirty || password.touched )" class="text-danger">
                    Password is required
                  </div>

                  <div *ngIf="password.errors?.['minlength']" class="text-danger">
                    Password must have at least 6 car
                  </div>

                  <div *ngIf="password.errors?.['maxlength']" class="text-danger">
                    Password must have maximum 20 car
                  </div>

                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" placeholder="Repeat Password" name="repeatPassword" [(ngModel)]="form.repeatPassword" required minlength="5" maxlength="50" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" placeholder="First Name" name="nom" #nom="ngModel" [(ngModel)]="form.nom" required minlength="5" maxlength="50" />
                  </div>
                  <div *ngIf=" nom.invalid && (nom.dirty || nom.touched ) && nom.errors?.['required']" class="text-danger">
                    Please enter a valid First name.
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" placeholder="Last Name" name="prenom" #prenom="ngModel" [(ngModel)]="form.prenom" required minlength="5" maxlength="50"/>
                  </div>
                  <div *ngIf=" prenom.invalid && (prenom.dirty || prenom.touched ) && prenom.errors?.['required']" class="text-danger">
                    Please enter a valid Last name.
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Address" name="address" #adress="ngModel" [(ngModel)]="form.address" required />
                </div>
                <div *ngIf=" adress.invalid && (adress.dirty || adress.touched ) && adress.errors?.['required']" class="text-danger">
                  Please enter a valid adress.
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Phone number" name="numero" [(ngModel)]="form.numero" required />
                </div>
              

                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="CIN" [(ngModel)]="form.cin" name="cin" required>
                </div>
                <div class="form-group row">
                  
                  <div class="col-sm-6">
                    <input type="date" class="form-control form-control-user" placeholder="Birthday" [(ngModel)]="form.birthday" name="birthday" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Age" [(ngModel)]="form.age" name="age" required>
                </div>
                <div class="form-group">
                  <label>Select roles:</label>
                  <div *ngFor="let role of user_roles">
                    <div class="form-check">
                      <input [(ngModel)]="role.selected" name="{{ role.name }}" type="checkbox" id="{{role.name}}" (change)="onChangeCategory($event, role)" class="form-check-input">
                      <label class="form-check-label" for="{{role.name}}">
                        {{role.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Register account</button>
                <hr>
                <mat-progress-spinner class="custom-spinner" diameter="40"style="width: 40px; height: 50px; margin: 0 auto;" mode="indeterminate" color="accent" *ngIf="registring"></mat-progress-spinner>
              </form>
              <div class="text-center">
                <a class="small" href="forgotpassword">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login">Already have an account? Login!</a>
              </div>
              <hr>
              <div class="text-center">
                <a class="small" href="...">Go back to homepage</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/back/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/back/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/back/js/sb-admin-2.min.js"></script>

</body>

</html>