<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Register</title>
  <!-- Custom fonts for this template-->
  <link href="/assets/back/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/assets/back/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                
                
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Username" name="username" [(ngModel)]="form.username" required />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" placeholder="Email Address" name="email" [(ngModel)]="form.email" required />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" placeholder="Password" name="password" [(ngModel)]="form.password" required />
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" placeholder="Repeat Password" name="repeatPassword" [(ngModel)]="form.repeatPassword" required />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" placeholder="First Name" name="nom" [(ngModel)]="form.nom" required />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" placeholder="Last Name" name="prenom" [(ngModel)]="form.prenom" required />
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Address" name="address" [(ngModel)]="form.address" required />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Phone number" name="numero" [(ngModel)]="form.numero" required />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="CIN" [(ngModel)]="form.cin" name="cin" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" placeholder="First Name" [(ngModel)]="form.prenom" name="prenom" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="date" class="form-control form-control-user" placeholder="Birthday" [(ngModel)]="form.birthday" name="birthday" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Age" [(ngModel)]="form.age" name="age" required>
                </div>
                <div class="form-group">
                  <label>Select roles:</label>
                  <div *ngFor="let role of user_roles">
                    <div class="form-check">
                      <input [(ngModel)]="role.selected" name="{{ role.name }}" type="checkbox" id="{{role.name}}" (change)="onChangeCategory($event, role)" class="form-check-input">
                      <label class="form-check-label" for="{{role.name}}">
                        {{role.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Register account</button>
                <hr>
               
              </form>
              <div class="text-center">
                <a class="small" href="#">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="#">Already have an account? Login!</a>
              </div>
              <hr>
              <div class="text-center">
                <a class="small" href="...">Go back to homepage</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/back/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/back/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/back/js/sb-admin-2.min.js"></script>

</body>

</html>