<div class="container">
  <form class="user" (ngSubmit)="submitReclamation()">
    <div class="mb-3">
      <label for="objet" class="form-label">Object :</label>
      <input
        class="form-control"
        type="text"
        id="objet"
        name="objet"
        [(ngModel)]="objet"
        (input)="checkForm()"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Subject :</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        [(ngModel)]="description"
        (input)="checkForm()"
        required
      ></textarea>
    </div>
    <button
      class="btn btn-primary btn-user btn-block animate-btn btn-medium btn-animate"
      type="submit"
      (click)="openDialog()"
      [disabled]="isButtonDisabled"
    >
      Envoyer la reclamation
    </button>

  </form>

</div>
