<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"  >
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngFor="let user of onclickUsers ">
            <div class="card">
                <p class="card-text"  *ngIf="onclickUsers.length == 1" style="padding: 10px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-header">
                  {{user.nom}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Adresse : {{user.address}}</h5>
                  <h5 class="card-title">Age : {{user.age}}</h5>
                  <h5 class="card-title">CIN : {{user.cin}}</h5>
                  
                  <button class="btn btn-primary" *ngIf="onclickUsers.length != 1" (click)="affecteruser(user)"> Affecter a cette chambre </button>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<app-nav-bar></app-nav-bar>



<section class="py-8" id="departments">
    <div class="container">
        <div class="row">

            <div class="col-sm py-2" *ngFor="let chambre of  datachambres">
    <div class="card" style="width: 18rem;">
        <img src="assets/front/img/gallery/ch1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Etage : {{chambre.etage}}</h5>
          <h5 class="card-title"> Numero : {{chambre.num}}</h5>
          <p class="card-text"> {{chambre.status}}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="filterUsers(chambre)">
                Affecter un Patient          </button>
        </div>
      </div>
    </div>
</div>
</div>
</section>
