{% extends 'baseFront.html.twig' %}
{% block title %}
Home
{% endblock %}
{% block content %}

 <div class="main-banner">
            <div class="main-banner-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span></span>                              
                                <h1>Foodine</h1>
                                <p></p>
                                <div class="banner-btn">
                                    <a href="shop-1.html" class="default-btn">Notre Restaurant</a>
                                   <!-- <a href="cart.html" class="optional-btn">Add to Cart</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Start Featured Products Area -->
    <section class="featured-products-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Featured  Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-1.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Bean</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$3.00</span>
                                <span class="old-price">$12.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-2.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Pomegranate</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$30.00</span>
                                <span class="old-price">$122.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-3.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Avocado</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$40.00</span>
                                <span class="old-price">$140.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-4.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Capsicum</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$33.00</span>
                                <span class="old-price">$133.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-5.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">WaterMelon</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$23.00</span>
                                <span class="old-price">$125.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-6.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Crab Apples</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$45.00</span>
                                <span class="old-price">$120.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-7.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Pea-nut</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$65.00</span>
                                <span class="old-price">$156.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details.html"><img src="/Front/assets/img/featured-products/featured-products-8.jpg" alt="image"></a>

                            <ul class="products-action">
                                <li>
                                    <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>

                        <div class="products-content">
                            <h3>
                                <a href="shop-details.html">Mint</a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$49.00</span>
                                <span class="old-price">$133.00</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Products Area -->
    <!-- Start Deal Area -->
    <section class="deal-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="deal-title">
                        <h2>Deals Of The Weeks</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
                    </div>

                    <div class="deal-content">
                        <div id="timer" class="flex-wrap d-flex justify-content-center">
                            <div id="days" class="align-items-center flex-column d-flex justify-content-center"></div>
                            <div id="hours" class="align-items-center flex-column d-flex justify-content-center"></div>
                            <div id="minutes" class="align-items-center flex-column d-flex justify-content-center"></div>
                            <div id="seconds" class="align-items-center flex-column d-flex justify-content-center"></div>
                        </div>

                        <div class="deal-btn">
                            <a href="cart.html" class="default-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="deal-image">
                        <img src="/Front/assets/img/deal/deal-1.png" alt="image">

                        <div class="offer">
                            <h4>50%</h4>
                            <span>Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="deal-shape">
            <div class="shape-1">
                <img src="/Front/assets/img/deal/deal-shape-1.png" alt="image">
            </div>
            <div class="shape-2">
                <img src="/Front/assets/img/deal/deal-shape-2.png" alt="image">
            </div>
            <div class="shape-3">
                <img src="/Front/assets/img/deal/deal-shape-3.png" alt="image">
            </div>
            <div class="shape-4">
                <img src="/Front/assets/img/deal/deal-shape-4.png" alt="image">
            </div>
        </div>
    </section>
    <!-- End Deal Area -->

    <!-- Start Testimonial Area -->
    <section class="testimonial-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Client’s Feedback</h2>
                <p></p>
            </div>

            <div class="testimonial-slider owl-carousel owl-theme">
                {% for rev in rev %}
                <div class="testimonial-item">
                    <div class="info">

                        <h3>{{ rev.userName }}</h3>

                    </div>
                    <p>{{ rev.Description }}</p>

                    <ul class="rating" style="padding-right: 45px" >
                        {% if rev.Stars==1 %}
                        <li>
                            <i class='bx bxs-star'></i>

                        </li>
                        {% elseif rev.Stars==2 %}
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>


                        </li>
                        {% elseif rev.Stars==3 %}
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>


                        </li>
                        {% elseif rev.Stars==4 %}
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>


                        </li>
                        {% elseif rev.Stars==5 %}
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>

                        </li>
                    </ul>
                    {% endif %}
                    <div class="icon">
                        <i class="flaticon-right-quotes-symbol"></i>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

        <div class="deal-btn-" style="padding-left: 890px;padding-top: 20px">
            <a href="{{ path('showReview') }}" class="default-btn" >Show All</a>
        </div>
    </section>
    <!-- End Testimonial Area -->

{% endblock %}
