{% extends 'baseFront.html.twig' %}
{% block title %}
    Error 403
{% endblock %}

{% block content %}
    <div class="error-404 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="card py-5">
                <div class="row g-0">
                    <div class="col col-xl-5">
                        <div class="card-body p-4">

                            <h2 class="font-weight-bold display-4">Error</h2>
                            <h1 class="display-1"><span class="text-black">4</span><span class="text-black">0</span><span class="text-black">3</span></h1>

                            <div class="mt-5">
                                <a href="/" class="btn btn-light btn-lg px-md-5 radius-30">Home</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <img src="/back/assets/images/errors-images/err404.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <!--end row-->
            </div>
{% endblock %}